<br>
<table>
  <tr>
  <% @users.each do |u| %>
    <td><%= u.id %></td>
    <td><%= u.first_name %></td>
    <td><%= u.last_name %></td>
    <td><%= u.formatting_post_codes %></td>
  <% end %>
  </tr>
</table>
<br>
<%= link_to "ユーザーデータをcsvで出力する", csv_output_path(format: :csv) %>
