<h1>Item List</h1>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>説明</th>
      <th>価格</th>
      <th>在庫量</th>
      <th>製造日</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <% if item.production_dates.any? %>
        <% item.production_dates.each_with_index do |production_date, index| %>
          <tr>
            <% if index == 0 %>
              <!-- 最初の行には商品データを表示 -->
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td><%= item.price %></td>
              <td><%= item.stock %></td>
            <% else %>
              <!-- 2行目以降は商品データを空白に -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
            <!-- 製造日のデータは常に表示 -->
            <td><%= production_date.manufacture_date.strftime('%Y/%m/%d(%a)') %></td>
          </tr>
        <% end %>
      <% else %>
        <!-- 製造日がない場合でも商品データを表示 -->
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.price %></td>
          <td><%= item.stock %></td>
          <!-- 製造日のデータがないので空白を表示 -->
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br/>
<%= link_to 'Create New Item', new_item_path %>
