<h1>Item List</h1>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>説明</th>
      <th>価格</th>
      <th>在庫量</th>
      <th>製造日</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.stock %></td>
        <td>
          <%= item.production_dates.pluck(:manufacture_date).map { |date| date.strftime('%Y/%m/%d(%a)') }.join(', ') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= link_to 'Create New Item', new_item_path %>
