<h1>Item List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= link_to 'Create New Item', new_item_path %>
